.battlefield {
  display: flex;
}

.stats-container {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #999;

  .buffer {
    margin: 0 10px;
  }

  .pull-up {
    margin-top: -5px;
  }
}