.battlefield {
  display: flex;
  flex-direction: row;
  min-height: 800px;

  .character-container {
    background-color: #ddd;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-right: 10px;
  }

  .scene-container {
    flex: 3;
    background-color: #ddd;
    border: 1px solid darkgray;
    border-radius: 5px;
    user-select: none;
  }

  .stats-container {
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #999;

    .buffer {
      margin: 0 10px;
    }

    .pull-up {
      margin-top: -5px;
    }
  }
}