.battlefield {
  display: flex;

  .character-container {
    flex: 1;
    background-color: #ddd;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-right: 10px;

    .character:first-child {
      margin-top: 5px;
    }
  }

  .scene-container {
    flex: 6;
    background-color: #ddd;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 5px;
    user-select: none;
  }
}

.stats-container {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin-bottom: 20px;

  .buffer {
    margin: 0 10px;
  }
}