<div class="character" ng-class="{'top-buffer':$first, 'not-in-party':!c.inParty}" ng-repeat="c in vm.characters">
    <div class="avatar" ng-style="{'background-image': 'url(assets/images/' + c.portrait + '.png)'}"></div>

    <div class="description party-indicator">
        <div class="ribbon-wrapper-blue" ng-show="c.inParty">
            <div class="ribbon-blue">P</div>
        </div>

        <h3 class="name">
            {{ c.name }}
            <img class="job"
                 src="assets/images/jobs/adventurer.png"
                 tooltip-popup-close-delay='1000'
                 uib-tooltip="{{c.job}}">
        </h3>

        <div class="stats">
            <div class="row">
                <div class="col-lg-3">{{ 'components.character.level' | translate }}:</div>
                <div class="col-lg-6">{{ c.level | number }}</div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <uib-progressbar class="experience-bar" max="c.nextLevel" value="c.exp"></uib-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>
